@charset "UTF-8";
/* CSS Document */

.inner_body {
	display:block;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;	
}

.jumbotron#internal {
	padding:5%;
	
}

.home_li{
	display: none;
	background: #fff;
	position: relative;
	z-index: 999;
}
#home_li_1{
	display: block;
}

ul#home_content_list {
    padding-left: 0;
}

.nav-tabs li {
    background: #5dc7cb;
    border: .5px solid #fff;
    color: #fff;
}


.nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 0;
    padding: 20px;
	color:#fff;
}

.nav-tabs.nav-justified>li a:hover {
	background-color:#ec008b;
	border-radius:0;
}

.nav-tabs.nav-justified>li.active {
	background-color:#ec008b;
	border-radius:0;
}

/*---------JUMBOTRON----------*/

.jumbotron#aca h1 {
    color: #fff;
}

jumbotron#aca {
	background-image:url("./img/aca-jumbo.png");
	
}

.jumbotron {
    padding: 5%;
}

.jumbotron p {
    width: 40%;
	margin-top:2%;
	color:#fff;
}
/*---------SECTION----------*/

.section {
    margin-top: 7%;
    background: #fff;
}

.section h2 {
	font-size: 40px;
    font-weight: 300;
    color: #5dc7cb;
}

.section p {
}

.box1 {
	width: 24%;
	max-height: 5%;
	display: inline-block;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
}

.box1 img {
	max-height: 5%;
	max-width: 90%;
	padding-left: 5%;
	padding-top: 9%;
	padding-bottom: 6%;
}

.box2 {
	width: 24%;
	max-height: 5%;
	display: inline-block;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
}

.box2 img {
	max-height: 5%;
	max-width: 90%;
	padding-top: 9%;
	padding-bottom: 1%;
	padding-left: 5%;
}

.box3 {
	width: 24%;
	max-height: 5%;
	display: inline-block;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
}

.box3 img {
	max-height: 5%;
	max-width: 90%;
	padding-top: 24%;
	padding-bottom: 23%;

}

.box4 {
	width: 24%;
	max-height: 5%;
	display: inline-block;
	border: 1px solid #d3d3d3;
}

.box4 img {
	max-height: 5%;
	max-width: 90%;
	padding-top: 35%;
	padding-bottom: 35%;

}

.occasional1 {
	display: inline-block;
	width: 24%;
	height: 20%;
	background: #48979c;
	margin-right: 5px;
}

.occasional1 p {
	color: #FFFFFF;
	padding-left: 20%;
	padding-top: 5%;
}
.occasional2 {
	display: inline-block;
	width: 24%;
	height: 20%;
	background: #48979c;
	margin-right: 5px;
}
.occasional2 p {
	color: #FFFFFF;
	padding-left: 20%;
	padding-top: 5%;
}

.frequent1 {
	display: inline-block;
	width: 24%;
	height: 20%;
	background: #48979c;
	margin-right: 5px;
}

.frequent1 p {
	color: #FFFFFF;
	padding-left: 25%;
	padding-top: 5%;
}

.frequent2 {
	display: inline-block;
	width: 24%;
	height: 20%;
	background: #48979c;
}

.frequent2 p {
	color: #FFFFFF;
	padding-left: 25%;
	padding-top: 5%;
}

.learnmore {
	display: inline-block;
	width: 24%;
	background: #FFC756;
	margin-right: 5px;
}

.learnmore2 {
	display: inline-block;
	width: 24%;
	background: #FFC756;

}

.learnmore p {
	padding-left: 27%;
	padding-top: 1%;
	color: #FFFFFF;
}

.learnmore2 p {
	padding-left: 27%;
	padding-top: 1%;
	color: #FFFFFF;
}
