@charset "UTF-8";
/* CSS Document */

.inner_body {
	display:block;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;	
}

.jumbotron h1 {
	font-weight: 200;
}

.home_li{
	display: none;
	background: #fff;
	position: relative;
	z-index: 999;
}
#home_li_1{
	display: block;
}

ul#home_content_list {
    padding-left: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #ec008b;!important
    border: 0px solid #ddd;!important
    border-bottom-color: transparent;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 0;
}

.nav-tabs li {
    background: #5dc7cb;
    border: .5px solid #fff;
    color: #fff;
}


.nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 0;
    padding: 20px;
	color:#fff;
}

.nav-tabs.nav-justified>li a:hover {
	background-color:#ec008b;
	border-radius:0;
}

.nav-tabs.nav-justified>li.active {
	background-color:#ec008b;
	border-radius:0;
}



/*---------JUMBOTRON----------*/

.myjumbo h1 {
    color: #fff;
	font-size: 50px;
    font-weight: 200;
	position:absolute;
	margin-top:-23%;
	margin-left:5%;
}

.myjumbo#aca h1 {
	margin-top:-19%;
}

.myjumbo#aca p {
	margin-top:-15%;
}

.myjumbo {
	width:100%;
	height:auto;
	background-size:cover;
}

.myjumbo img {
	width:100%;
	object-fit:fill;
}

.myjumbo {
	padding-bottom: 3%;
}

.myjumbo p {
    width: 21%;
	color:#fff;
	font-size:20px;
	font-weight:200;
	position:absolute;
	margin-top:-19%;
	margin-left:5%;
}

select[name=insurance] {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: auto;
    padding: 5px;
    border-radius: 0;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.36);
    position: absolute;
    margin-top: -13%;
    margin-left: 5%;
	color:#fff;
}

select[name=state] {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: auto;
    padding: 5px;
    border-radius: 0;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.36);
    position: absolute;
    margin-top: -10.5%;
    margin-left: 5%;
	color:#fff;
}
/*---------SECTION----------*/

.section {
    margin-top: 3%;
    background: #fff;
}

.section2 {
    margin-bottom: 3%;
	margin-top:6%;
    width: 100%;
}

.section h2 {
	font-size: 40px;
    font-weight: 300;
    color: #5dc7cb;
}

.section p {
}

.box1 {
	width: 24%;
	max-height: 255px;
	display: inline-block;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
}

.box1 img {
	max-height: 255px;
	max-width: 90%;
	padding-left: 5%;
	padding-top: 9%;
	padding-bottom: 6%;
}

.box2 {
	width: 24%;
	max-height: 255px;
	display: inline-block;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
}

.box2 img {
	max-height: 255px;
	max-width: 90%;
	padding-left: 5%;
	padding-top: 9%;
	padding-bottom: 6%;
}

.box3 {
	width: 24%;
	max-height: 255px;
	display: inline-block;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
}

.box3 img {
    max-height: 255px;
	max-width: 90%;
	padding-left: 5%;
	padding-top: 37%;
	padding-bottom: 6%;

}

.box4 {
	width: 24%;
	max-height: 255px;
	display: inline-block;
	border: 1px solid #d3d3d3;
}

.box4 img {
   	max-height: 255px;
	max-width: 90%;
	padding-left: 5%;
	padding-top: 37%;
	padding-bottom: 26%;
}

.occasional {
	display: inline-block;
	width: 24%;
	height: 20%;
	background: #5dc7cb;
	margin-right: 5px;
	text-align:center;
}

.occasional p {
	color: #FFFFFF;
	padding-top: 5%;
	text-transform:uppercase;
}


.frequent {
	display: inline-block;
	width: 24%;
	height: 20%;
	background: #5dc7cb;
	margin-right: 5px;
	text-align:center;
}

.frequent p {
	color: #FFFFFF;
	padding-top: 5%;
	text-transform:uppercase;
}



.learnmore {
    display: inline-block;
    width: 24%;
    background: #FFC756;
    margin-right: 5px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
}

.learnmore p {
	color: #FFFFFF;
	text-transform:uppercase;
	vertical-align:middle;
}

.tab-pane#where h2 {
    text-align: center;
}


.suppliers {
    display: inline-block;
    width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.boxrow {
	width: 230px;
    height: 210px;
    padding: 25px 15px 15px 25px;
    border: 2px solid #d1d1d1;
    display: inline-block;
    margin-top: 2%;
    margin-right: 10px;
    margin-bottom: 2%;
	min-width:200px;
}

.boxrow#initial {
	background: #5dc7cb;	
}

.boxrow#initial h3 {
	vertical-align: middle;
	color:#fff;	
}

.boxrow h4 {
	color:#ec008b;
	font-size:13px;
	fon-weight:500;
}

p.more {
    margin-top: 20px;
	margin-bottom:20px;
}

p.more a {
	color:#5dc7cb;	
	font-weight:600;
}

button.jumbo {
    position: absolute;
    margin-top: -13%;
    margin-left: 5%;
    padding: 10px;
    width: 7%;
    background: #ec008b;
    border: none;
    color: #fff;
	text-transform:uppercase;
}